<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="files/check.css">
</head>
<body >
<h1 style="text-align: center;font-size: 100px">Добро пожаловать!</h1>
<div class="container">
    <div class="buttons-container">
        <form action="/admin/users">
            <button type="submit">Пользователи</button>
        </form>
        <br/>
        <form action="/admin/films">
            <button type="submit" href="/admin/films">Фильмы</button>
        </form>
    </div>
</div>
</body>
</html>